body {
	background-color: #eee;
}

#bookTemplate {
	outline : 1px solid #aaa;
	width : 350px;
	height : 130px;
	background-color: #fff;
	float: left;
	margin : 5px;
}

#bookTemplate img {
	float: left;
	margin: 10px;
}

#bookTemplate ul {
	list-style-type: none;
	margin-bottom: 0;
}

#bookTemplate button {
	float : right;
	margin: 10px;
}

#addBook label {
	width : 100px;
	margin-right: 10px;
	text-align: right;
	line-height: 25px;
}

#addBook label, #addBook input {
	display: block;
	margin-bottom: 10px;
	float: left;
}

#addBook label[for="title"], #addBook label[for="releaseDate"] {
	clear : both;
}

#addBook button {
	display: block;
	margin : 5px 20px 10px 10px;
	float: right;
	clear: both;
}

#addBook div {
	width: 750px;
}

#addBook div:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}