<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Backbone Library</title>
	<link rel="stylesheet" type="text/css" href="css/screen.css">
</head>
<body>

	<script id="bookTemplate" type="text/template">
		<img src="<%= coverImage %>"/>
		<ul>
			<li><%= title %></li>
			<li><%= author %></li>
			<li><%= releaseDate %></li>
			<li><%= keywords %></li>
		</ul>
		<button class="delete">Delete</button>
	</script>

	<div id="books">
		<form id="addBook" action="#">
			<div>
				<label for="coverImage">CoverImage: </label>
				<input id="coverImage" type="file" />
				<label for="title">Title: </label><input id="title" type="text" />
				<label for="author">Author: </label><input id="author" type="text" />
				<label for="releaseDate">Release date: </label>
				<input id="releaseDate" type="text" />
				<label for="keywords">Keywords: </label>
				<input id="keywords" type="text" />
				<button id="add">Add</button>
			</div>
		</form>
	</div>

	<!-- Dependencies -->
	<script src="js/lib/jquery-1.9.1.min.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>

	<!-- Models -->
	<script src="js/models/book.js"></script>

	<!-- Collections -->
	<script src="js/collections/library.js"></script>

	<!-- Views -->
	<script src="js/views/book.js"></script>
	<script src="js/views/library.js"></script>

	<!-- App -->
	<script src="js/app.js"></script>

</body>
</html>